<% let j = 2; %>
<% for(let i = 0 ; i < cart[j].product.length ; i++){ %>
<li class="list-group-item d-flex justify-content-between lh-condensed">
  <a href="https://allegro.pl/oferta/<%=cart[j].product[i].id %>" target="_blank">
    <div>
      <h6 class="my-0"><%=cart[j].product[i].name %></h6>
      <small class="text-muted">Sprzedawca: <%=cart[j].product[i].seller %> </small>
    </div>
  </a>
  <span class="text-muted"><%=cart[j].product[i].price %>zł</span>
</li>
<%}%>

<li class="list-group-item d-flex justify-content-between">
  <span>Dostawa (PLN)</span>
  <strong><%=cart[j].deliveryPrice %></strong>
</li>

<li class="list-group-item d-flex justify-content-between">
  <span>Suma (PLN)</span>
  <strong><%=cart[j].sum %></strong>
</li>
